<html>
<head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head><body><div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="../home">ComicCollab</a>
    </div>
    <div class="page-header" style="margin-top: 60px">
        <h1><%=userName%></h1>
    </div>
    <h4>Name</h4>
    <p><%=fullname%></p>
    <h4>Age</h4>
    <p><%=age%></p>
    <h4>Gender</h4>
    <p><%=gender%></p>
    <h4>Location</h4>
    <p><%=location%></p>
    <h4>About Me</h4>
    <p><%=aboutme%></p>
    <br>
    <br>
    <br>
    <a href="../home">Back To Home Page</a>
</div>
</body>
</html>